.header{
display: flex;
flex-direction: row;
background: linear-gradient(97.1deg, #F9FCFB 85.39%, rgba(255, 255, 255, 0) 121.98%), #B0EACD;
}

#btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 43px;
}

#btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 64px;
}

.logo{
    margin-left: 60px;
}

