.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #B0EACD;
    height: 47px;
}

#searchInput{
    width: 229px;
    height: 16px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
}

#searchBar{
    margin-left: auto;
    display: flex;
    flex:1;
    justify-content: flex-end;
    margin-right: 64px;
}

ul{
    display: flex;
    list-style: none;
    flex:1;
    justify-content: space-around;
}

a{
    text-decoration: none;
    padding: 13px;
}

li{
    font-family: Fondamento;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000;
}