.signup_box {
  font-family: Fondamento;
  width: 30%;
  position: absolute;
  height: 100%;
  right: 0;
  top: 50%;
  margin-top: -292px;
  background-color: #ECECEC;
  text-align: center;
}

.signup_box h3{
  color: #b7b7b7;
  margin-bottom: 50px;
}
.signup_box .container-form {
  width: 85%;
  margin: auto;
  text-align: start;
}
.signup_box .container-form input.input-field {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.signup_btn .btn-ok{
  background-color: tomato;
  margin-top: 35px;
  height: 40px;
  width: 35%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
